{% extends "pages/base.html"%}
{%load crispy_forms_tags%}
{% block content%}
    <div class="continer">
            <div class="form-group">
                    <form action="" method="POST">
                        {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">
                                    Sign Up
                                    {{ form|crispy }}
                                </legend>
                                <div class="form-group">
                                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
            
                                </div>
            
                            </fieldset>
            
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">Already have an account? <a class="ml-2" href="{% url 'user-login'%}">Sign In</a></small>
            
                    </div>
            
                </div>

    </div>
{% endblock content%}